<meta name="twitter:site" content="@uzerp">
<meta name="twitter:creator" content="@uzerp">
{{ if .IsPage }}
    <meta name="twitter:description" content="{{ .Params.intro }}" />
    <meta name="twitter:title" content="{{ .Title }}" />
    <meta name="twitter:card" content="summary_large_image" />
    {{ $img := .Resources.GetMatch .Params.Banner }}
    {{ if $img }}
	    <meta name="twitter:image" content="{{ $img.Permalink }}" /> 
    {{ else }}
        <meta name="twitter:image" content="{{ .Site.BaseURL}}{{ .Params.banner }}">
    {{end}}
{{ else }}
    <meta name="twitter:title" content="{{ .Site.Title }}" />
    <meta name="twitter:description" content="{{ .Params.intro }}" />
{{ end }}